.contacts {
  background-color: #191c26;
}

.contacts-form-wraper{
  width: 95%;
}

.contacts-input:first-child {
  margin-right: 20px;
}

.contacts-input {
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  margin-bottom: 44px;
}

.contacts-textarea {
  resize: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: #ffffff;
  width: 95%;
  height: 76px;
  margin-bottom: 44px;
}

.contacts-textarea:focus,
.contacts-input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.contact-title {
  text-align: center;
  padding-top: 84px;
}

address {
  font-style: normal;
}

.address-item:not(:last-child) {
  margin-bottom: 20px;
}

.address-item .description {
   font-size: 18px;
}

.time-work {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-dark);
  margin-top: 44px;
  margin-bottom: 20px;
}

.time-work::before {
  content: "";
  align-items: center;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background: rgba(157, 164, 189, 0.4);
}

@media screen and (min-width: 320px) {
  .contacts {
    background-image: linear-gradient(#191c26, #191c26),
      url(../img/contact-mobile.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 55%, 100% 60%;
    background-position: 0 0, 50% 100%;
  }

  .contact-btn {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}


@media screen and (min-width: 768px) {
  .contacts {
    background-size: 100% 55%, 100% 80%;
    background-position: 0 0, 50% 100%;
  }

  .contact-title {
    text-align: start;
  }
  .contacts-form {
    display: flex;
    flex-direction: column;
  }

  .contact-btn {
    margin-left: 0;
  }

  .contacts-form-wraper {
    display: flex;
  }

  .contacts-right-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    background-size: 50% 100%, 50% auto;
    background-position: 0 0, 100%;
  }
  .contacts-section {
    display: flex;
    align-items: center;
  }

  .contact-title {
    padding: 0;
  }

  .contacts-form {
    width: 560px;
  }

   .contacts-right {
    margin-left: 100px;
  }
  .contacts-right-container {
    flex-direction: column;
    align-items: baseline;
  }
}
